.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-color: rgb(195, 231, 254);
  height: calc(100vh);
  transition: transform 400ms ease-in;
  position: sticky;
}

.sidebar.left.hidden {
  transform: translateX(-90%);
}

.sidebar.right.hidden {
  transform: translateX(90%);
}

.sidebar.left.hidden > .btn {
  transition: transform 400ms ease-in;
  transform: translateX(25%);
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar .btn {
  transition: transform 400ms ease-in;
}
.dark {
  background-color: rgb(1, 16, 45);
}

.main-content {
  background-color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
